@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";

:root {
  --background: #0a0a0a;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

button:active {
  transform: scale(0.95);
}

.bg-gradient {
  background:
    /* radial-gradient(ellipse 80% 60% at 50% 0%, rgba(139, 92, 246, 0.25), transparent 70%),oklch(14.1% 0.005 285.823); */
    radial-gradient(ellipse 80% 60% at 50% 0%, #191919, transparent 70%),oklch(14.1% 0.005 285.823);
}

.glow-dot {
  position: relative;
  display: inline-block;
  width: 7px;   /* ปรับขนาดจุดได้ */
  height: 8px;
  border-radius: 9999px;
  background: #fb923c;
}

.glow-dot::before {
  content: "";
  position: absolute;
  inset: -9px; /* ระยะ glow ออกนอกจุด */
  border-radius: inherit;
  background: radial-gradient(circle, rgba(251, 146, 60, 0.7), transparent 60%);
  opacity: 0.9;
  animation: pulse-glow 1.4s ease-out infinite;
}

@keyframes pulse-glow {
  0% {
    transform: scale(0.9);
    opacity: 0.9;
  }
  70% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
