@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-gradient {
  background:
    /* radial-gradient(ellipse 80% 60% at 50% 0%, rgba(139, 92, 246, 0.25), transparent 70%),oklch(14.1% 0.005 285.823); */
    radial-gradient(ellipse 80% 60% at 50% 0%, #191919, transparent 70%),oklch(14.1% 0.005 285.823);
}
